.box1{
    background-color: yellow;
    border:50px solid blue;
    width: 400px;
    text-align:center;
    margin: 50px;
    padding: 30px;
    height: 150px;
    color: black;

}
.box2{
    border: 10px solid black;
    width: 700px;
}
    