.container{
    display: grid;
    background-color: lightblue;
       height: 500px;
    width: 1000px;    
    border: 2px solid black;
     grid-template-columns: 1fr 1fr 1fr 1fr ; 
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-rows: repeat(3,1fr);
    /* grid-template-areas: "header header header header" "main main. sidebar" "footer footer footer footer"; */
   column-gap: 20px;
    /* justify-items: center; 
   align-items: baseline; */
   place-items: center;
   

}
.item{
      height: 100px;
    width: 100px;  
    background-color: aquamarine;
    border: 1px solid black;
     text-align: center;
    align-content: center;
   
}
 /* .item1{
    grid-area:header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}  */