.container{
    display: grid;
    background-color: rgb(253, 117, 137);
       height: 500px;
    width: 1000px;    
    border: 2px solid black;
     /* grid-template-columns: 1fr 1fr 1fr 1fr ;  */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-rows: repeat(3,1fr);
     grid-template-areas: "header header header header" "main main. sidebar" "footer footer footer footer"; 
   column-gap: 10px;
     justify-items: center;  
   align-items:center;  
   /* justify-content: start;
   align-content: end; */
   /* place-items: center; */
   /* grid-template-columns: 60px 60px; */
   

}
.item{
       height: 100px;
    width: 100px;   
    background-color: lightpink;
    border: 1px solid black;
     text-align: center;
    align-content: center;
    
   
}
 /* .item1{
    grid-area:header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}  */
  .item1{
    grid-column :1/2;
    grid-row: 2/3;
  }
    .item2{
    grid-column :2/3;
    grid-row: 4/3;
  }
    .item3{
    grid-column :3/2;
    grid-row: 1/2;
  }
    .item4{
    grid-column :1/2;
    grid-row: 1/3;
  }